html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

div {
    
    word-wrap: break-word;
} 
#fonte {
  font-size: 25pt;
}     

#map {
        height: 100%;
      }


#locationField, #controls {
        position: relative;
        width: auto;
        word-wrap: break-word;


      }
#saidaCasa, #coleta, #entrega, #voltaCasa {
       /* position: absolute;*/
        top: 0px;
        left: 0px;
        width: 99%;
        height: 50px;
        font-size: 12pt;
        
      }
.selected_btn
{   
    
    text-align: center;
    font-size: 50px;
    border:1px solid red;
    text-decoration:none;
    font-family:helvetica;
    color:red !important;            
}

#foco{
  width: auto;

}


